<div class="page-header">
    <h3>Lista clienti</h3>
</div>

<div>
    <table class="table table-striped" style="margin-top: 50px;">
        <thead>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Username</th>
            <th>Età</th>
            <th>Update</th>
            <th>Delete</th>
        </thead>
        <tbody>
            <tr *ngFor="let c of clienti">
                <td>{{c.nome}}</td>
                <td>{{c.cognome}}</td>
                <td>{{c.username}}</td>
                <td>{{c.eta}}</td>
                <td><button class="btn btn-warning btn-sm" (click)="updateCliente(c)">Update</button></td>
                <td><button class="btn btn-danger btn-sm" (click)="deleteCliente(c)">Delete</button></td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" style="margin-top: 50px;" (click)="createCliente()">Nuovo cliente</button>
</div>
